name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: server

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: 'server/.nvmrc'
      - name: Install dependencies
        run: npm ci
      - name: Configure Turbo Cache
        uses: rharkor/caching-for-turbo@cdbdf04f8a2c921190a912a65e4918a558182b63 # v2.3.10
        with:
          provider: github
      - name: Lint
        run: npm run lint:ci
      - name: Test
        run: npx turbo test
      - name: Build
        run: npx turbo build
